.button {
    padding: 12px 12px 12px 24px;
    background: #426CFF;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    border: none;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;

    &__arrow {
        width: 15px;
        height: 15px;
    }

    &__icon {
        padding-left: 8px;
    }
}