.condition {
    display: flex;
    align-items: center;

    &-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &-label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        width: 20px;
        height: 20px;
        position: relative;
        padding-right: 8px;

        &>input:active+.condition-custom-chekbox::before {
            background-color: #b3d7ff;
            border-color: #b3d7ff;
        }

        &>input:checked+.condition-custom-checkbox::before {
            border-color: #0b76ef;
            background-color: #0b76ef;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }
    }

    &-checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &-custom-checkbox {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 0;
        left: 0;

        &::before {
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #D6D6D8;
            border-radius: 50%;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
            box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.2);
        }
    }

    &-text {
        font-size: 14px;
        line-height: 120%;
    }

    &-link {
        color: #0000FF;
        text-decoration: underline;
    }
}