.input {
    width: 100%;
    padding: 15px 16px;
    border: 1px solid #688AFF;
    border-radius: 3px;
    color: #262C36;
    font-size: 15px;
    outline: none;
    box-sizing: border-box;

    &::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
    }


}