@import 'header/header.scss';
@import 'footer/footer.scss';

//
@import 'template/template.scss';
@import 'template/slick.scss';
@import 'template/fancybox.scss';
@import 'template/input.scss';
@import 'template/textarea.scss';
@import 'template/button.scss';
@import 'template/condition.scss';

//
@import 'common/index_banner.scss';
@import 'common/a_company.scss';
@import 'common/project.scss';
@import 'common/stages.scss';
@import 'common/objects.scss';
@import 'common/facts.scss';
@import 'common/clients.scss';
@import 'common/articles.scss';
@import 'common/quiz.scss';
@import 'common/quiz-2.scss';
@import 'common/thx.scss';

//
@import 'feedback/feedback.scss';
@import 'feedback/navigation.scss';
//
@import 'engineering/hero.scss';
@import 'engineering/engineering.scss';
@import 'engineering/project.scss';
@import 'engineering/design.scss';
@import 'engineering/order.scss';
@import 'engineering/cost.scss';