@import 'header/header.scss';
@import 'footer/footer.scss';
@import 'feedback/feedback.scss';
//
@import 'template/template.scss';
@import 'template/slick.scss';
@import 'template/fancybox.scss';
//
@import 'common/index_banner.scss';
@import 'common/a_company.scss';
@import 'common/project.scss';
@import 'common/stages.scss';
@import 'common/objects.scss';
@import 'common/facts.scss';
@import 'common/clients.scss';
@import 'common/articles.scss';
//
@import 'template/input.scss';
@import 'template/textarea.scss';
@import 'template/button.scss';
