.feedback {
    padding-top: 232px;
    padding-bottom: 104px;
    font-size: 15px;

    @include respond-to('desktop') {
        padding-top: 190px;
        padding-bottom: 60px;

    }

    @include respond-to('phablet') {
        padding-top: 110px;
        padding-bottom: 30px;
    }

    &__company-row {
        @include respond-to('phone-wide') {
            display: flex;
            flex-direction: column;
        }
    }

    &__container {}

    &__row-feedback {
        display: flex;
        justify-content: space-between;

        @include respond-to('tablet') {
            flex-direction: column;
        }

        &:not(:last-child) {
            margin-bottom: 43px;
        }


    }

    &__row {
        display: flex;
        justify-content: space-between;

        @include respond-to('tablet-wide') {
            flex-direction: column-reverse;
        }

        &:not(:last-child) {
            margin-bottom: 43px;

            @include respond-to('tablet-wide') {
                margin-bottom: 20px;

            }
        }
    }

    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 135%;

        @include respond-to('tablet-wide') {
            font-size: 28px;
            margin-top: 20px;
        }

        @include respond-to('tablet-small') {
            font-size: 20px;
        }

    }

    &__feedback-wrapper {
        display: flex;
        align-items: center;
    }

    &__feedback {
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-right: 120px;

        a {
            text-decoration: none;
            color: #688AFF;
        }
    }

    &__decor {
        width: 96px;
        height: 2px;
        background: #426CFF;
    }

    &__form-wrapper {
        flex-basis: 50%;
        padding-right: 20px;
        padding-top: 65px;
        padding-right: 72px;
        padding-bottom: 48px;
        padding-left: 56px;
        background: #F4F4F4;
        margin-right: 20px;

        @include respond-to('tablet') {
            margin-right: 0;
            margin-bottom: 30px;

        }

        @include respond-to('desktop') {
            padding: 35px;
        }

        @include respond-to('tablet-small') {
            padding: 20px;
        }

    }

    &__form {}

    &__input-wrapper {
        display: flex;

        @include respond-to('desktop') {
            flex-direction: column;
        }
    }

    &__name-wrapper {
        width: 100%;
        margin-right: 24px;

        @include respond-to('desktop') {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }

    &__mail-wrapper {
        width: 100%;
    }

    &__input-name {
        margin-right: 25px;
    }

    &__input-mail {
        font-size: 11px;

        &::placeholder {
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
            color: #6B7285;
            text-transform: uppercase;

        }
    }

    &__textarea {
        box-sizing: border-box;
        height: 109px;
        margin-bottom: 41px;

        @include respond-to('tablet-wide') {
            margin-bottom: 20px;
        }
    }

    &__condition-wrapper {
        display: flex;
        justify-content: space-between;

        @include respond-to('tablet-middle') {
            flex-direction: column-reverse;
            align-items: end;
        }
    }

    &__condition {
        display: flex;
        align-items: center;

        @include respond-to('tablet-middle') {
            margin-top: 20px;
        }
    }

    &__label {}

    &__custom-checkbox {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 0;
        left: 0;

        &::before {
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #D6D6D8;
            border-radius: 50%;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
            box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.2);
        }
    }

    &__checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__condition-text {
        padding-right: 10px;
    }

    &__more {
        padding-left: 8px;
    }

    &__button {
        @include respond-to('tablet-middle') {
            width: 100%;
            justify-content: center;
        }
    }

    &__company-wrapper {
        flex-basis: 50%;
        padding-right: 20px;
        padding-top: 55px;
        padding-right: 72px;
        padding-bottom: 48px;
        padding-left: 56px;
        background: #F4F4F4;

        @include respond-to('desktop') {
            padding: 35px;
        }

        @include respond-to('tablet-small') {
            padding: 20px;
        }


    }

    &__company {
        font-size: 15px;
        line-height: 150%;
    }

    &__subtitle {
        color: #6B7285;
        margin-bottom: 8px;

    }

    &__company-row {
        display: flex;
    }

    &__company-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 125%;
        margin-bottom: 30px;

        @include respond-to('tablet-wide') {
            font-size: 16px;
        }

        @include respond-to('tablet-small') {
            margin-bottom: 20px;
        }
    }

    &__adress {
        margin-bottom: 39px;

        @include respond-to('tablet-small') {
            margin-bottom: 20px;
        }
    }

    &__column {
        // flex-basis: 33.3%;
        padding: 0 40px;

        @include respond-to('tablet-wide') {
            padding: 0 20px;
        }

        @include respond-to('phone-wide') {
            padding: 0;
            display: flex;
            justify-content: space-between;
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        &:not(:last-child) {
            border-right: 1px solid #D4D7DE;

            @include respond-to('phone-wide') {
                border-right: none;
            }
        }



    }

    &__document {}
}

.container {}