.navigation {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 97px 0 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @include respond-to('desktop') {
        height: 50vh;
    }

    &__container {
        padding-top: 42px;

        @include respond-to('desktop-wide') {
            padding: 0 20px;
        }

        @include respond-to('phablet') {
            padding: 0 10px;

        }
    }

    &__map {
        position: relative;
        max-width: 1240px;

        &-inner {
            position: relative;
            padding-top: (639/1240) * 100%;

            @include respond-to('phablet') {
                padding-top: 80%;
            }
        }

        &-frame {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__map-wrapper {
        position: relative;
        padding-top: 169px;
    }

    &__img-wrapper {
        transform: translateY(128px);

        @include respond-to('desktop-wide') {
            transform: translateY(84px);
        }
    }

    &__content {
        padding: 26px 56px 40px 32px;
        position: absolute;
        top: 24px;
        left: 24px;
        background-color: #fff;
        font-size: 15px;
        font-weight: 500;

        @include respond-to('tablet-wide') {
            top: 5px;
            left: 5px;
            padding: 15px;
        }

        @include respond-to('tablet-small') {
            margin-top: 20px;
            position: static;
        }
    }

    &__subtitle {
        color: #6B7285;
        margin-bottom: 20px;
    }

    &__tel {
        color: #262C36;
        line-height: 150%;
        margin-bottom: 10px;
        font-size: 14px;
        display: block;
    }

    &__adress {
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 20px;
    }
}

[class*="ground-pane"] {
    filter: grayscale(0.7);
}