.navigation {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 97px 0 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &__container {
        margin-top: -67px;
    }

    &__map {
        position: relative;
    }

    &__img-wrapper {
        transform: translateY(128px);
    }

    &__content {
        padding: 26px 56px 40px 32px;
        position: absolute;
        top: 24px;
        left: 24px;
        background-color: #fff;
        font-size: 15px;
        font-weight: 500;

    }

    &__subtitle {
        color: #6B7285;
        margin-bottom: 20px;
    }

    &__tel {
        color: #262C36;
        line-height: 150%;
        margin-bottom: 10px;
        font-size: 14px;
    }

    &__adress {
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 20px;
    }
}