footer.footer
    .container.footer-container
        ul.footer-row
            +footer-heading('Разделы')
            +footer-link('Компания')
            +footer-link('Наши проекты')
            +footer-link('Сертификаты')
            +footer-link('Гарантии')
            +footer-link('Сервис')
            li.footer-row-item
                .footer-copyright
                    span Создание сайта:
                    a(href="https://mockup.digital/") mockup.digital

        ul.footer-row
            +footer-heading('Монтаж')
            +footer-link('Сиситемы кондиционирования')
            +footer-link('Сиситемы вентеляции')
            +footer-link('Системы отопления')
            +footer-heading('Проектирование')
            +footer-link('Предпроектная документация')
            +footer-link('Сиситемы кондиционирования')
            +footer-link('Сиситемы вентеляции')
            +footer-link('Системы отопления')

        ul.footer-row
            +footer-heading('Контакты')
            +footer-link('Контактные телефоны')
            li.footer-row-item
                a.footer-row-link.footer-row-link--mobile(href="#") Телефоны
                a.footer-phone(href="tel:+380443642970") +38 (044) 3642970
                a.footer-phone(href="tel:+380443642971") +38 (044) 3642971
                a.footer-phone(href="tel:+380443642972") +38 (044) 3642972

            li.footer-row-item
                a.footer-row-link.footer-row-link--mobile(href="#") Адрес
                p.footer-adress Украина, г. Киев,
                    br
                    | Киево-Святошинский р-н, с. Чайки, ул. Антонова, 8 А
                a.footer-info(href="#") info@sensei.ua

        .footer-row.footer-row--gray
            a.footer-logo(href="#")
                img(src="images/header/logo.png", alt="")
            p Проектирование, монтаж и сервисное обслуживание  инженерных систем
            a(href="#") Политика конфиденциальности 
            a(href="#") Отказ от ответственности 

            ul.footer-social
                li
                    a(href="#")
                        svg
                            use(xlink:href='images/svg/symbol/sprite.svg#facebook')
                li
                    a(href="#")
                        svg
                            use(xlink:href='images/svg/symbol/sprite.svg#instagram')
                li
                    a(href="#")
                        svg
                            use(xlink:href='images/svg/symbol/sprite.svg#youtube')

            span ©2020 Евробудтрейд





