.mounting_banner
    .container(style="background-image: url(images/ex/banner.jpg);")
        h2 Монтаж систем #[span(class="nowrap") кондиционирования от 12 400 грн]
        +blue_btn('рассчитать стоимость')

.container
    +breadcroumbs('Главная','Типовые проекты', 'Магазины и торговые центры')