.mounting
    .container.mounting-wrapper
        .mounting-item
            img.mounting-image(src="images/ex/img1.jpg", alt="")
            .mounting-text
                a(href="#") Монтаж
                    br
                    | настенных кондиционеров
                p Монтаж систем промышленной вентиляции в силу более высоких требований к производительности, длительности непрерывной работы, специфики обслуживания и надёжности является более ...
        
        .mounting-item
            img.mounting-image(src="images/ex/img2.jpg", alt="")
            .mounting-text
                a(href="#") Монтаж канальных
                    br 
                    | кондиционеров
                p Самая простая система приточно-вытяжной вентиляции для квартиры или частного дома #[span(class="nowrap") состоит из] вытяжного вентилятора и приточного вентиляционного устройства. Вентилятор ...
        
        .mounting-item
            img.mounting-image(src="images/ex/img3.jpg", alt="")
            .mounting-text
                a(href="#") Монтаж кассетных
                    br 
                    | кондиционеров
                p Ключевым элементом любой вентиляционной системы в здании служат каналы воздуховодов, #[span(class="nowrap") через которые] осуществляется подача чистого воздуха с улицы и удаление загрязнённого из ...
        
        .mounting-item
            img.mounting-image(src="images/ex/img4.jpg", alt="")
            .mounting-text
                a(href="#") Монтаж напольно-потолочных 
                    br
                    | кондиционеров
                p За комфорт в наших квартирах, домах отвечает внутреннее оформление, удобная и практичная мебель, любимые и красивые предметы. За #[span(class="nowrap") здоровый микроклимат] в таких комнатах, как ...
        
        .mounting-item
            img.mounting-image(src="images/ex/img5.jpg", alt="")
            .mounting-text
                a(href="#") Монтаж VRF и VRV 
                    br
                    | систем
                p За комфорт в наших квартирах, домах отвечает внутреннее оформление, удобная и практичная мебель, любимые и красивые предметы. За #[span(class="nowrap") здоровый микроклимат] в таких комнатах, как ...
        
        .mounting-item
            img.mounting-image(src="images/ex/img6.jpg", alt="")
            .mounting-text
                a(href="#") Монтаж мульти-сплит 
                    br
                    | систем
                p За комфорт в наших квартирах, домах отвечает внутреннее оформление, удобная и практичная мебель, любимые и красивые предметы. За #[span(class="nowrap") здоровый микроклимат] в таких комнатах, как ...