.mounting_banner
    .container(style="background-image: url(images/heating/banner.jpg);")
        h2 Монтаж систем вентиляции от 150 грн / м.пог
        +blue_btn('рассчитать стоимость')

.container
    +breadcroumbs('Главная','Типовые проекты', 'Магазины и торговые центры')