.mounting
    .container.mounting-wrapper
        .mounting-item
            img.mounting-image(src="images/heating/img1.jpg", alt="")
            .mounting-text
                a(href="#") Монтаж 
                    br
                    | твердотопливного котла
                p Монтаж систем промышленной вентиляции в силу более высоких требований к производительности, длительности непрерывной работы, специфики обслуживания и надёжности является более ...
        
        .mounting-item
            img.mounting-image(src="images/heating/img2.jpg", alt="")
            .mounting-text
                a(href="#") Монтаж газового
                    br 
                    | котла
                p Самая простая система приточно-вытяжной вентиляции для квартиры или частного дома #[span(class="nowrap") состоит из] вытяжного вентилятора и приточного вентиляционного устройства. Вентилятор ...
        
        .mounting-item
            img.mounting-image(src="images/heating/img3.jpg", alt="")
            .mounting-text
                a(href="#") Установка радиаторов
                    br 
                    | отопления
                p Ключевым элементом любой вентиляционной системы в здании служат каналы воздуховодов, #[span(class="nowrap") через которые] осуществляется подача чистого воздуха с улицы и удаление загрязнённого из ...
        
        .mounting-item
            img.mounting-image(src="images/heating/img4.jpg", alt="")
            .mounting-text
                a(href="#") Монтаж бытовых
                    br
                    | вентиляторов
                p За комфорт в наших квартирах, домах отвечает внутреннее оформление, удобная и практичная мебель, любимые и красивые предметы. За #[span(class="nowrap") здоровый микроклимат] в таких комнатах, как ...
        
        .mounting-item
            img.mounting-image(src="images/heating/img5.jpg", alt="")
            .mounting-text
                a(href="#") Монтаж насоса в 
                    br
                    | систему отопления
                p За комфорт в наших квартирах, домах отвечает внутреннее оформление, удобная и практичная мебель, любимые и красивые предметы. За #[span(class="nowrap") здоровый микроклимат] в таких комнатах, как ...
        
        .mounting-item
            img.mounting-image(src="images/heating/img6.jpg", alt="")
            .mounting-text
                a(href="#") Монтаж тепловых
                    br
                    | завес
                p За комфорт в наших квартирах, домах отвечает внутреннее оформление, удобная и практичная мебель, любимые и красивые предметы. За #[span(class="nowrap") здоровый микроклимат] в таких комнатах, как ...