extends template/main

block variables
    - var title = 'Главная страница'
    - var pageClass = 'main_page'

block content
    include modules/feedback/navigation
    include modules/feedback/feedback 

