extends template/main

block variables
    - var title = 'Контакты'
    - var pageClass = 'contacts_page'

block content
    include modules/feedback/navigation
    include modules/feedback/feedback 
block script
    script(src="https://api-maps.yandex.ru/2.1/?apikey=a6470789-2472-438c-a958-ca1bc6b9cdf4&lang=ru_RU" type="text/javascript")
    script(src="js/map.js")
