extends template/main

block variables
    - var title = 'Проектирование'
    - var pageClass = 'engineering_page'

block content
    include modules/engineering/hero
    include modules/engineering/engineering
    include modules/engineering/pack
    include modules/engineering/design
    include modules/common/project
    include modules/engineering/order
    include modules/engineering/cost
    include modules/common/articles







