header.header
    .container.header-container
        a.header-logo(href="#")
            img(src="images/header/logo.png", alt="")

        ul.header-menu
            li.header-menu-item
                a.header-menu-link(href="#") Компания

                ul.header-sub_menu
                    li.header-sub_menu-item
                        a.header-sub_menu-link(href="#") Монтаж
                        +menu-content('Сиситемы кондиционирования','Сиситемы вентеляции','Системы отопления')

                    li.header-sub_menu-item
                        a.header-sub_menu-link(href="#") Проектирование
                        +menu-content('Предпроектная документация','Сиситемы кондиционирования','Сиситемы вентеляции','Системы отопления')

            li.header-menu-item
                a.header-menu-link(href="#") Услуги

            li.header-menu-item
                a.header-menu-link(href="#") Наши проекты

            li.header-menu-item
                a.header-menu-link(href="#") Сертификаты

            li.header-menu-item
                a.header-menu-link(href="#") Гарантии

            li.header-menu-item
                a.header-lang(href="#")
                    svg
                        use(xlink:href='images/svg/symbol/sprite.svg#lang')
                    span Укр
        a.header-burger(href="#")
            span

        a.header-phone(href="tel:+380443642970")
            svg
                use(xlink:href='images/svg/symbol/sprite.svg#phone')
            span +38 (044) 364 29 70

.header-overlay