header.header
    .container
        a.header-logo(href="#")
            img(src="images/header/logo.png", alt="")
        ul.header-menu
            li.header-menu-item
                a.header-menu-link(href="#") Компания

            li.header-menu-item
                a.header-menu-link(href="#") Услуги

            li.header-menu-item
                a.header-menu-link(href="#") Наши проекты

            li.header-menu-item
                a.header-menu-link(href="#") Сертификаты

            li.header-menu-item
                a.header-menu-link(href="#") Гарантии

            li.header-menu-item
                a.header-lang(href="#")
                    svg
                        use(xlink:href='images/svg/symbol/sprite.svg#lang')
