.cost {
    padding-top: 68px;

    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 135%;
        color: #262C36;
        margin-bottom: 36px;

        @include respond-to('phablet') {
            font-size: 24px;
        }
    }

    &__desc {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 150%;
        color: #6B7285;
        max-width: 960px;
        margin-bottom: 120px;

        @include respond-to('phablet') {
            margin-bottom: 24px;
        }
    }

    &__form-wrapper {
        padding: 48px 80px 40px 56px;
        background: #F4F4F4;
        box-sizing: border-box;

        @include respond-to('phablet') {
            padding: 32px 16px;
        }
    }

    &__form-title {
        font-weight: 500;
        font-size: 25px;
        line-height: 135%;
        color: #262C36;
        margin-bottom: 40px;
    }

    &__form-content {
        display: flex;
        margin-bottom: 40px;

        @include respond-to('tablet-wide') {
            flex-direction: column;
        }

        @include respond-to('phablet') {
            margin-bottom: 20px;
        }

    }

    &__input-wrapper {
        width: 50%;
        margin-right: 40px;
        position: relative;

        @include respond-to('tablet-wide') {
            width: 100%;
        }
    }

    &__name-wrapper {
        margin-bottom: 20px;
    }

    &__input-name {
        margin-bottom: 20px;
    }

    &__input-group {
        margin-bottom: 20px;

        @include respond-to('phablet') {
            flex-direction: column;
        }
    }

    &__input-mail {
        border: none;
        margin-right: 25px;

        @include respond-to('phablet') {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }

    &__input-tel {
        border: none;
    }

    &__form-file-label {
        margin: 0;

        @include respond-to('tablet-wide') {
            margin-bottom: 20px;
        }
    }

    &__input-file {
        background: #FFFFFF;
        border: none;
    }

    &__textarea-wrapper {
        width: 50%;

        @include respond-to('tablet-wide') {
            width: 100%;
        }
    }

    &__textarea {
        height: 100%;
        box-sizing: border-box;

        span {
            bottom: 88%;

            @include respond-to('tablet-wide') {
                bottom: 70%;
            }
        }

        @include respond-to('tablet-wide') {
            height: 109px;
        }
    }

    &__condition-wrapper {
        @include respond-to('phablet') {
            flex-direction: column-reverse;

            .blue_btn {
                display: none;
            }
        }
    }

    &__condition {
        @include respond-to('phablet') {
            .blue_btn {
                display: none;
            }

            margin-top: 20px;
            justify-content: center;
        }
    }

    &__button {
        @include respond-to('tablet-middle') {}

        @include respond-to('phablet') {
            width: 100%;
            justify-content: center;
        }
    }
}