.design {
    padding-top: 120px;

    &__row {
        display: flex;
        flex-wrap: wrap;
        padding-top: 50px;
        margin: -15px;
    }

    &__card-wrapper {
        width: 33.3%;
        padding: 15px;
    }

    &__card {
        position: relative;
        padding-top: 22px;
        padding-left: 40px;
        padding-bottom: 32px;
        padding-right: 42px;
        background-color: #F8F8F8;
        height: 100%;
    }

    &__number-wrapper {
        border-bottom: 1px solid #E9EBEF;
        margin-bottom: 25px;
    }

    &__number {
        display: inline;
        font-size: 60px;
        line-height: 125%;
        color: #F8F8F8;
        background-color: #E9EBEF;

    }

    &__desc {
        font-weight: 500;
        font-size: 15px;
        line-height: 125%;
        color: #323340;
    }

    &__decor {
        position: absolute;
        background: #688AFF;
        width: 4px;
        height: 46px;
        top: 35px;
        left: 0px;
    }
}