.engineering {
    padding-top: 80px;

    @include respond-to('phablet') {
        padding-top: 32px;
    }

    &_page {
        header {
            background: #384359;
        }

    }

    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 135%;
        color: #262C36;
        margin-bottom: 32px;

        @include respond-to('phablet') {
            font-size: 24px;
        }
    }

    &__desc {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 150%;
        color: #6B7285;
        max-width: 960px;

        @include respond-to('tablet-wide') {
            max-width: 560px;
        }

        @include respond-to('phablet') {
            max-width: 100%;
        }
    }
}