.hero {
    padding-top: 136px;

    &__container {
        margin-bottom: 24px;
        padding-top: 105px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 81px;
        // padding: 100px;
        box-sizing: border-box;

        @include respond-to('tablet-small') {
            padding: 80px;
        }
    }

    &__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 135%;
        color: #FFFFFF;
        margin-bottom: 89px;

        @include respond-to('tablet-wide') {
            text-align: center;

        }
    }

    &__nav {
        list-style: none;
        display: flex;
    }

    &__nav-item {
        padding: 0 10px;

        &:first-child {
            padding-left: 0;
        }
    }

    &__decor {
        &::before {
            content: "/";
        }
    }
}