.hero {
    padding-top: 136px;

    &__container {
        margin-bottom: 24px;
        padding: 100px;
        box-sizing: border-box;
    }

    &__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 135%;
        color: #FFFFFF;
        margin-bottom: 102px;
    }

    &__nav {
        list-style: none;
        display: flex;
    }

    &__nav-item {
        padding: 0 10px;
    }

    &__decor {
        &::before {
            content: "/";
        }
    }
}