section.feedback
    .container.feedback__container
        .feedback__row
            .feedback__title Написать сообщение
            .feedback__feedback-wrapper
                .feedback__feedback обратная 
                    a(href="") связь
                .feedback__decor
        .feedback__row
            .feedback__form-wrapper 
                form.feedback__form
                    .feedback__input-wrapper
                        +input-name("feedback")
                        +input-mail("feedback")
                    +textarea("feedback")
                    +condition("feedback")
            .feedback__company-wrapper 
                .feedback__company
                    .feedback__subtitle Компания
                    .feedback__company-name Общество с ограниченной <br>   ответственностью «Евробудтрейд»
                    .feedback__subtitle Юридический адрес
                    .feedback__adress Украина, г. Киев, Киево-Святошинский р-н,<br> с. Чайки, ул. Антонова, 8 А
                    .feedback__company-row 
                        .feedback__column
                            .feedback__subtitle ИНН
                            .feedback__document 542325235
                        .feedback__column
                            .feedback__subtitle КПП
                            .feedback__document 542325235
                        .feedback__column
                            .feedback__subtitle ОГРН
                            .feedback__document 1121690089685