.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box;
  width: 100%;
  height: 97px;
  padding: 24px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);

  @include respond-to('desktop') {
    height: 56px;
    padding: 10px 0;

    &.is-active {
      &:before {
        content: '';
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(20, 33, 56, 0.7);
      }
    }
  }

  &-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include respond-to('desktop') {
      &.container {
        position: static;
      }
    }
  }

  &-logo {
    display: block;
    width: 192px;
    margin-right: auto;

    @include respond-to('desktop') {
      width: 161px;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &-lang {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    width: 85px;
    padding: 0 16px;
    border-left: 1px solid #6b7285;
    border-right: 1px solid #6b7285;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #ffffff;
    text-decoration: none;

    svg {
      display: block;
      height: 10px;
      width: 16px;
    }

    span {
      display: block;
      margin-left: 8px;
    }

    @include respond-to('desktop') {
      border: none;
      padding: 16px 24px 20px;
      height: 53px;
      width: 100%;
      margin-bottom: 22px;
      border-bottom: 1px solid #475063;
    }
  }

  &-menu {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px 0;
    max-width: 739px;
    width: 60%;
    transition: transform 0.2s linear;
    transform-origin: center top;

    @include respond-to('desktop') {
      position: absolute;
      top: 100%;
      right: 0;
      width: 300px;
      min-height: max-content;
      padding: 0;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      background: #384359;
      transform: scaleY(0);
      overflow: auto;

      &.is-active {
        transform: scaleY(1);
      }
    }

    &-item {
      position: relative;
      display: block;
      margin: 0 auto;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
        margin-left: 55px;

        @include respond-to('desktop') {
          order: -1;
          margin: 0;
          padding: 0;
          margin-top: 0 !important;
        }
      }

      @include respond-to-min('desktop') {
        &:hover {
          .header-sub_menu {
            padding-top: 20px;
            padding-bottom: 20px;
            max-height: max-content;
            overflow: visible;
          }
        }
      }

      @include respond-to('desktop') {
        padding: 0 24px;
        width: 100%;

        & + & {
          margin-top: 15px;
        }

        &:nth-last-child(2) {
          padding-bottom: 25px;
        }
      }
    }

    &-link {
      display: block;
      font-weight: normal;
      font-size: 15px;
      line-height: 150%;
      letter-spacing: 0.05em;
      color: #ffffff;
      text-decoration: none;

      @include respond-to('desktop') {
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }

  &-phone {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #ffffff;
    text-decoration: none;
    padding-top: 20px;
    margin-left: auto;

    span {
      display: block;
      margin-left: 10px;
    }

    svg {
      display: block;
      width: 16px;
      height: 16px;
    }

    @include respond-to('desktop') {
      padding: 0;
      font-size: 0;
      margin-left: 33px;

      svg {
        width: 24px;
        height: 24px;
      }

      span {
        margin: 0;
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -17px;
        display: block;
        width: 1px;
        height: 36px;
        margin-top: -18px;
        background: rgba(255, 255, 255, 0.15);
        pointer-events: none;
      }
    }
  }

  &-sub_menu {
    position: absolute;
    top: calc(100% + 28px);
    left: -20px;
    box-sizing: border-box;
    padding: 20px;
    width: max-content;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    transition: padding 0.2s linear, max-height 0.2s linear;
    background-color: rgb(0, 0, 0);

    @include respond-to('desktop') {
      max-height: none;
      display: none;
      position: relative;
      background-color: transparent;
      width: 100%;
      padding: 20px 40px 32px;
      transition: none;
    }

    &:hover {
      @include respond-to-min('desktop') {
        padding-top: 20px;
        padding-bottom: 20px;
        max-height: max-content;
        overflow: visible;
      }
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -28px;
      left: 0;
      height: 28px;
      width: 100%;
    }

    &-item {
      & + & {
        margin-top: 10px;
      }
    }

    &-link {
      display: block;
      font-weight: 500;
      font-size: 14px;
      line-height: 200%;
      color: #fff;
      text-decoration: none;
    }

    &_content {
      @include respond-to('desktop') {
        display: none;
        padding-top: 7px;
      }

      &-item {
        padding-left: 10px;

        @include respond-to('desktop') {
          padding-left: 0;
        }
      }

      &-link {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 200%;
        color: #9da4b5;
        text-decoration: none;
      }
    }
  }

  &-burger {
    position: relative;
    z-index: 3;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 22px;
    display: none;

    &:before {
      content: '';
      position: absolute;
      width: 56px;
      height: 57px;
      transition: background 0.2s linear;
    }

    span {
      display: block;
      width: 26px;
      height: 2px;
      background: #fff;
      transition: background 0.2s linear;

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        background: #fff;
        width: inherit;
        height: inherit;
        transition: background 0.2s linear, transform 0.2s linear, top 0.2s linear,
          bottom 0.2s linear;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }
    }

    @include respond-to('desktop') {
      display: flex;

      &.is-active {
        &:before {
          background: #384359;
        }

        span {
          background: transparent;

          &:before {
            transform: rotate(45deg);
            top: 50%;
          }

          &:after {
            transform: rotate(-45deg);
            bottom: 42%;
          }
        }
      }
    }
  }

  &-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(20, 33, 56, 0.7);

    &.is-active {
      display: block;
    }
  }
}
