.a_company {
  position: relative;
  box-sizing: border-box;
  padding: 120px 0 60px;

  @include respond-to('tablet-wide') {
    padding: 56px 0 32px;
  }

  &-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @include respond-to('tablet-wide') {
      position: relative;
      display: block;
    }
  }

  &-content {
    box-sizing: border-box;
    width: calc(100% - 401px);
    max-width: 685px;
    padding-right: 20px;
    margin-right: auto;

    @include respond-to('tablet-wide') {
      width: 100%;
      max-width: none;
      padding-right: 0;
    }

    h2 {
      display: block;
      margin-bottom: 50px;
      font-weight: 500;
      font-size: 40px;
      line-height: 135%;
      color: #262c36;

      @include respond-to('tablet-wide') {
        margin-bottom: 24px;
        font-weight: 500;
        font-size: 24px;
        line-height: 135%;
        color: #262c36;
      }
    }

    p {
      display: block;
      margin-bottom: 24px;
      font-weight: normal;
      font-size: 15px;
      line-height: 180%;
      color: #6b7285;

      @include respond-to('tablet-wide') {
        font-weight: normal;
        font-size: 15px;
        line-height: 180%;
        color: #6b7285;
      }
    }
  }

  &-image {
    display: block;
    width: 381px;
    margin-top: 8px;
    flex-shrink: 0;

    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }

    @include respond-to('tablet-wide') {
      position: absolute;
      bottom: 314px;
      left: 50%;
      max-width: 345px;
      width: 100%;
      transform: translateX(-50%);
      margin: 0;
    }
  }

  &-catalog {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 73px;

    @include respond-to('tablet-wide') {
      padding-top: 305px;
      flex-wrap: wrap;
    }
  }

  &-item {
    display: block;
    width: min-content;
    margin-right: auto;
    padding-right: 10px;

    &:last-child {
      margin-right: 0;
      padding-right: 0;
    }

    @include respond-to('tablet-wide') {
      width: calc(50% - 28px);
      margin: 0;
      padding: 0;
      margin-bottom: 24px;
      margin-right: 56px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @include respond-to('phone-wide') {
      width: calc(50% - 30px);
      margin-right: 30px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  &-number {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 40px;
    line-height: 135%;
    color: #262c36;

    @include respond-to('tablet-wide') {
      margin-bottom: 16px;
    }
  }

  &-desc {
    display: block;
    max-width: 150px;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    text-transform: uppercase;
    color: #6b7285;

    @include respond-to('tablet-wide') {
    }
  }
}
