.cl_form {
  position: relative;
  box-sizing: border-box;
  width: 49.19%;
  padding: 68px 72px 56px 56px;
  background: #f4f4f4;

  @include respond-to('tablet-wide') {
    width: 100%;
    margin-top: 24px;
    padding: 44px 16px 32px;
  }

  &-wrapper {
    position: relative;
    box-sizing: border-box;
    padding: 60px 0 60px;

    @include respond-to('tablet-wide') {
      padding: 32px 0 64px;
    }
  }

  &-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    @include respond-to('tablet-wide') {
      display: block;
    }
  }

  &-desc {
    width: 44%;
    padding-right: 2%;
    margin-right: auto;

    @include respond-to('tablet-wide') {
      width: 100%;
      padding-right: 0;
    }

    h2 {
      display: block;
      margin-bottom: 34px;
      font-weight: 500;
      font-size: 40px;
      line-height: 135%;
      color: #262c36;

      @include respond-to('tablet-wide') {
        margin-bottom: 24px;
        font-weight: 500;
        font-size: 24px;
        line-height: 135%;
        color: #262c36;
      }
    }

    p {
      display: block;
      font-weight: normal;
      font-size: 15px;
      line-height: 150%;
      color: #6b7285;

      @include respond-to('tablet-wide') {
        display: inline;
      }

      & + P {
        margin-top: 28px;

        @include respond-to('tablet-wide') {
          margin-top: 0;
        }
      }
    }
  }

  &-row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    @include respond-to('tablet-wide') {
      display: block;
    }

    .application-form-label {
      width: calc(50% - 12px);

      @include respond-to('tablet-wide') {
        width: 100%;
      }
    }
  }

  .calc-btn {
    margin-left: auto;
  }

  .application-form-submit {
    margin-top: 40px;

    @include respond-to('tablet-wide') {
      margin-top: 32px;
      flex-wrap: wrap;

      .calc-btn {
        width: 100%;
        max-width: none;
        order: -1;
        margin-bottom: 24px;
      }

      .application-form-polic {
        margin: 0 auto;
      }
    }
  }
}
