.mounting_banner {
  padding-bottom: 24px;

  .container {
    position: relative;
    box-sizing: border-box;
    padding: 104px 100px 80px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @include respond-to('tablet-middle') {
      padding: 82px 20px 64px;
      text-align: center;
    }
  }

  h2 {
    display: block;
    max-width: 535px;
    margin-bottom: 88px;
    font-weight: 500;
    font-size: 40px;
    line-height: 135%;
    color: #ffffff;

    @include respond-to('tablet-middle') {
      max-width: none;
      font-weight: 600;
      font-size: 24px;
      line-height: 125%;
      text-align: center;
      margin-bottom: 60px;
    }
  }
}
