.project {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 60px 0;

  &-container {
    position: relative;
    box-sizing: border-box;
    padding: 65px 0 65px 105px;
    margin-top: 56px;

    &:before {
      content: '';
      position: absolute;
      right: calc(100% - 395px);
      top: 0;
      z-index: 0;
      display: block;
      height: 100%;
      width: 50vw;
      background: center / cover url(../images/project/before.jpg) no-repeat;
    }
  }

  &-slider {
    position: relative;
    z-index: 1;
    margin-left: auto;

    &-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &-banner {
    display: block;
    box-sizing: border-box;
    width: 45.37%;
    border: 5px solid #ffffff;
  }

  &-content {
    box-sizing: border-box;
    width: 54.63%;
    padding: 0 38px 0 80px;

    h2 {
      display: block;
      max-width: 361px;
      margin-bottom: 40px;
      font-weight: 500;
      font-size: 25px;
      line-height: 135%;
      color: #262c36;
    }

    p {
      display: block;
      max-width: 361px;
      margin-bottom: 40px;
      font-weight: normal;
      font-size: 15px;
      line-height: 150%;
      color: #6b7285;
    }
  }

  &-tools {
    position: absolute;
    top: 65px;
    right: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 130px);

    .slick-next {
      order: 1;
      transform: rotate(180deg);
    }

    .slick-arrow {
      padding: 0;
      margin: 0;
      border: none;
      font-size: 0;
      width: 15px;
      height: 10px;
      background: transparent center / cover url(../images/project/arrow.png) no-repeat;
      cursor: pointer;
    }

    .slick-dots {
      height: calc(100% - 110px);
      overflow: hidden;
      margin: auto 0;

      button {
        margin: 0;
        padding: 0;
        border: none;
        cursor: pointer;
        background-color: transparent;
        font-weight: normal;
        font-size: 15px;
        line-height: 350%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #6b7285;

        &:before {
          content: '0';
        }
      }

      .slick-active {
        button {
          color: #426cff;
        }
      }
    }
  }
}
