.project-text {
  h2 {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 135%;
    color: #262c36;
    margin-bottom: 32px;
  }

  img {
    display: block;
    width: 100%;
    height: 400px;
    margin: 20px 0;
    object-fit: cover;
    object-position: center;
  }

  h3 {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 135%;
    color: #262c36;
    margin-bottom: 20px;
  }

  p {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: #262c36;
    margin-bottom: 20px;
    text-align: justify;
  }

  ul,
  ol {
    list-style: none;
    display: block;
    margin: 20px 0;

    li {
      display: block;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 135%;
      color: #262c36;

      & + li {
        margin-top: 5px;
      }
    }
  }
}
