.services {
  position: relative;
  box-sizing: border-box;
  padding: 60px 0;

  @include respond-to('tablet-middle') {
    padding: 32px 0;
  }

  &-container {
    margin-bottom: 50px;

    @include respond-to('tablet-middle') {
      margin-bottom: 30px;
    }
  }

  &-table {
    width: 100%;
    font-weight: normal;
    font-size: 15px;
    line-height: 135%;
    color: #262c36;

    tr {
      border-bottom: 1px solid #e1e5ed;

      @include respond-to('tablet-middle') {
        border: none;

        &:nth-child(2n) {
          background: #f4f4f4;
        }

        &:nth-child(2n + 1) {
          background: #fbfbfb;
        }
      }

      &:first-child {
        border: none;
      }

      td {
        &:nth-child(1) {
          width: 101px;

          @include respond-to('tablet-middle') {
            width: 37px;
            vertical-align: middle;
          }
        }

        &:nth-child(2) {
          div {
            justify-content: flex-start;
          }
        }

        &:nth-child(3) {
          width: 194px;

          @include respond-to('tablet-middle') {
            width: 60px;
            vertical-align: middle;

            div {
              text-align: right;
              justify-content: flex-end;
            }
          }
        }

        &:nth-child(4) {
          width: 195px;

          div {
            &:after {
              display: none;
            }
          }

          @include respond-to('tablet-middle') {
            width: 56px;
            vertical-align: middle;

            div {
              padding-right: 16px;

              &:before {
                content: '/';
                padding-right: 5px;
              }
            }
          }
        }
      }
    }

    div {
      position: relative;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 56px;
      padding: 0 24px;
      font-weight: normal;
      font-size: 15px;
      line-height: 135%;
      color: #262c36;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 16px;
        display: block;
        width: 1px;
        height: calc(100% - 32px);
        background: #e1e5ed;
      }

      @include respond-to('tablet-middle') {
        min-height: 40px;
        height: auto;
        padding: 5px 0;

        &:after {
          display: none;
        }
      }
    }

    &-heading {
      background: #f4f4f4;

      @include respond-to('tablet-middle') {
        display: none;
      }

      div {
        height: 64px;
        font-weight: 500;
        font-size: 15px;
        line-height: 135%;
        text-align: center;
        color: #6b7285;
      }
    }
  }

  &-desc {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 26px;
    background: #f4f4f4;

    @include respond-to('tablet-middle') {
      display: block;
      background-color: transparent;
    }

    &-text {
      box-sizing: border-box;
      padding: 25px 25px 25px 32px;
      display: flex;
      flex-grow: 1;
      justify-content: flex-start;
      align-items: center;

      @include respond-to('tablet-middle') {
        padding: 0;
        justify-content: center;
      }

      p {
        box-sizing: border-box;
        display: block;
        padding: 0 15px;
        max-width: 784px;
        margin-right: auto;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        color: #262c36;

        @include respond-to('tablet-middle') {
          display: none;
        }
      }
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100%;
      width: 90px;
      background: #e4eaff;
      flex-shrink: 0;

      svg {
        display: block;
        width: 35px;
        height: 36px;
      }

      @include respond-to('tablet-middle') {
        display: none;
      }
    }
  }
}
