section.cost
    .container.cost__container
        h3.cost__title Проектирование систем вентиляции
        .cost__desc При строительстве или реконструкции любых видов зданий (коттеджей, квартир, загородных домов, промышленных и административных зданий) важным этапом является проектирование и монтаж систем вентиляции и кондиционирования. Проектирование вентиляции на предварительной стадии строительства позволяет значительно сэкономить средства на закупку и монтаж оборудования для инженерной системы, а также их эксплуатации.
        .cost__form-wrapper
            .cost__form-title Получить коммерческое предложение
            form.cost__form
                .cost__form-content
                    .cost__input-wrapper
                        +input-name("cost")
                        +input-group("cost")
                        +input-file("cost")
                    .cost__textarea-wrapper
                        +textarea("cost")
                +condition("cost")

