section.design
    .container.design__container
        +s_title("этапы ","проектирования")
        .design__row
            +design-card("01","Расчет необходимого воздухообмена согласно техническим условиям, санитарным и строительным нормам.")
            +design-card("02","Разработка схемы, по которой выполняется: расчет сечения воздуховодов; расчет уровня шума")
            +design-card("03","Подготовка чертежа, который потом отдается на согласование заказчику")
            +design-card("04","Согласование чертежа, а также внесения в него изменений, предложенных заказчиком или его дизайнером.")
            +design-card("05","Подготовка документации по электропитанию, строительным и сантехническим работам.")
            +design-card("06","Деталировка воздуховодов.")
