section.hero
    .container.hero__container(style="background-image: url(images/engineering/hero-bg.jpg);")
        h2.hero__title Проектирование cистем вентиляции
        .button-wrapper
            +blue_btn('заказать проект')
    .container
        ul.hero__nav 
            li.hero__nav-item 
                a.hero__nav-link(href="") Главная 
            li.hero__nav-item 
                a.hero__nav-link(href="") Типовые проекты
            li.hero__nav-item 
                a.hero__nav-link(href="") Магазины и торговые центры
