section.hero
    .container.hero__container(style="background-image: url(images/index_banner/index_banner.png);")
        h2.hero__title Проектирование <br> Систем вентиляции
        .button-wrapper
            +blue_btn('заказать проект')
    .container
        ul.hero__nav 
            li.hero__nav-item Главная 
            li.hero__decor    
            li.hero__nav-item Типовые проекты
            li.hero__decor    
            li.hero__nav-item Магазины и торговые центры

