section.order
    .container.order__container 
        .order__title-wrapper
            +s_title("почему стоит  ","заказать у нас")
        .order__row
            +order-card("card-img1","Индивидуальная концепция","Мы не работаем по шаблону, а разрабатываем персональную концепцию под каждого клиента и объект, поэтому все наши проекты уникальны.")
            +order-card("card-img2","Подбор оборудования по бюджету","Широкий диапазон бюджета на проектирование позволит каждому клиенту грамотно обустроить систему вентиляции, исходя из его финансовых возможностей.")
            +order-card("card-img3","Гарантия соблюдения сроков","Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud")
            +order-card("card-img4","Большой опыт проектирования","Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus ")
