section.pack
    .container.pack__container 
        +s_title("что выходит в ","проект")
        .pack__row
            +pack-card("Пакет чертежей","Схемы вентиляционной системы;планы;разрезы.")
            +pack-card("Спецификация","Схемы вентиляционной системы;планы;разрезы.")
            +pack-card("Задание рабочим","Электрикам, сантехникам, строителям (при необходимости)")
            +pack-card("Обоснование","Технико-экономическая обоснованность выбора оборудования для вентиляции")
