section.project
    .container.project__container 
        +s_title("что выходит в ","проект")
        .project__row
            +project-card("Пакет чертежей","Схемы вентиляционной системы;планы;разрезы.")
            +project-card("Спецификация","Схемы вентиляционной системы;планы;разрезы.")
            +project-card("Задание рабочим","Электрикам, сантехникам, строителям (при необходимости)")
            +project-card("Обоснование","Технико-экономическая обоснованность выбора оборудования для вентиляции")
