.a_company
    .container.a_company-container
        .a_company-content
            h2 Sed ut perspiciatis unde omnis #[span(class="nowrap") iste natus] error sit
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            +m_btn
            .a_company-catalog
                +desc('170','выполненных проектов')
                +desc('55','постоянных клиентов')
                +desc('10','монтажных бригад')
                +desc('11','квалифицированных проектировщиков')

        img.a_company-image(src="images/a_company/12_years.png", alt="")