.accordion
    .container.accordion-container
        +s_title('ответы', ' на вопросы')
    
    .container
        .accordion-item
            .accordion-heading
                p Зачем нужна экспертиза системы вентиляции?
                b
            .accordion-content
                p Экспертиза системы вентиляции позволяет выявить ошибки в монтаже и обслуживании вентиляционного оборудования, а также обратить внимание заказчика на снижение эффективности циркуляции воздуха. Экспертиза дает подтверждение правильности технических расчетов при проектировании системы и позволяет выявить будущие риски (поломки, замена оборудования).
        
        .accordion-item
            .accordion-heading
                p Unde ut perspiciatis unde omnis iste natus error sit voluptatem accusantium?
                b
            .accordion-content
                p Экспертиза системы вентиляции позволяет выявить ошибки в монтаже и обслуживании вентиляционного оборудования, а также обратить внимание заказчика на снижение эффективности циркуляции воздуха. Экспертиза дает подтверждение правильности технических расчетов при проектировании системы и позволяет выявить будущие риски (поломки, замена оборудования).
        
        .accordion-item
            .accordion-heading
                p Natus error sit voluptatem accusantium unde omnis?
                b
            .accordion-content
                p Экспертиза системы вентиляции позволяет выявить ошибки в монтаже и обслуживании вентиляционного оборудования, а также обратить внимание заказчика на снижение эффективности циркуляции воздуха. Экспертиза дает подтверждение правильности технических расчетов при проектировании системы и позволяет выявить будущие риски (поломки, замена оборудования).
        
        .accordion-item
            .accordion-heading
                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium unde omnis?
                b
            .accordion-content
                p Экспертиза системы вентиляции позволяет выявить ошибки в монтаже и обслуживании вентиляционного оборудования, а также обратить внимание заказчика на снижение эффективности циркуляции воздуха. Экспертиза дает подтверждение правильности технических расчетов при проектировании системы и позволяет выявить будущие риски (поломки, замена оборудования).