.clients
    .container.clients-wrapper
        .clients-desc
            +s_title('наши', ' клиенты')
            h2 От кафе и кальянных до крупных предприятий
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        
        .clients-content
            .clients-item
                img(src="images/clients/icon1.png", alt="", style="width:134px")
            .clients-item
                img(src="images/clients/icon2.png", alt="", style="width:149px")
            .clients-item
                img(src="images/clients/icon3.png", alt="", style="width:68px")
            .clients-item
                img(src="images/clients/icon4.png", alt="", style="width:105px")
            .clients-item
                img(src="images/clients/icon5.png", alt="", style="width:47px")
            .clients-item
                img(src="images/clients/icon6.png", alt="", style="width:56px")