.services-page
    .container 
        h2.engineering__title Документы и сертификаты
        .documents
            .documents-item
                img.documents-serf(src="images/doc/item1.png", alt="")
                a.documents-fancy(href="images/doc/item1.png", data-fancybox="gallery")
                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M29.5557 14.7206C29.5444 11.8003 28.668 8.94882 27.0374 6.52615C25.4067 4.10349 23.0948 2.21828 20.3935 1.10855C17.6922 -0.00118345 14.7227 -0.285682 11.8598 0.29097C8.99696 0.867623 6.36914 2.27957 4.30813 4.34855C2.24712 6.41753 0.845337 9.05078 0.279751 11.9158C-0.285835 14.7809 0.0101376 17.7493 1.1303 20.4462C2.25047 23.1432 4.14461 25.4478 6.57357 27.0691C9.00253 28.6904 11.8574 29.5557 14.7778 29.5557C18.7026 29.5415 22.4619 27.9722 25.2318 25.1915C28.0018 22.4108 29.5566 18.6455 29.5557 14.7206ZM26.6945 14.7206C26.6797 17.0734 25.9685 19.3691 24.6506 21.3183C23.3327 23.2674 21.4672 24.7826 19.2893 25.6729C17.1114 26.5632 14.7187 26.7886 12.4128 26.3208C10.1069 25.853 7.99124 24.7128 6.33252 23.0441C4.67379 21.3755 3.54633 19.253 3.0923 16.9444C2.63828 14.6358 2.87804 12.2444 3.78134 10.0719C4.68463 7.89935 6.21102 6.04294 8.168 4.73677C10.125 3.4306 12.4249 2.73316 14.7778 2.73241C17.9463 2.74566 20.9801 4.01535 23.2135 6.26287C25.447 8.51038 26.6976 11.5521 26.6909 14.7206H26.6945Z" fill="#DFDFE4"/>
                        <path d="M36.2069 38.0001L22.4846 25.0241L24.2782 23.2224L38.0005 36.1952L36.2069 38.0001Z" fill="#DFDFE4"/>
                        <line x1="15" y1="9" x2="15" y2="21" stroke="#DFDFE4" stroke-width="2"/>
                        <line x1="21" y1="15" x2="9" y2="15" stroke="#DFDFE4" stroke-width="2"/>
                    </svg>
                p.documents-desc Lorem ipsum dolor sit amet.

            .documents-item
                img.documents-serf(src="images/doc/item1.png", alt="")
                a.documents-fancy(href="images/doc/item1.png", data-fancybox="gallery")
                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M29.5557 14.7206C29.5444 11.8003 28.668 8.94882 27.0374 6.52615C25.4067 4.10349 23.0948 2.21828 20.3935 1.10855C17.6922 -0.00118345 14.7227 -0.285682 11.8598 0.29097C8.99696 0.867623 6.36914 2.27957 4.30813 4.34855C2.24712 6.41753 0.845337 9.05078 0.279751 11.9158C-0.285835 14.7809 0.0101376 17.7493 1.1303 20.4462C2.25047 23.1432 4.14461 25.4478 6.57357 27.0691C9.00253 28.6904 11.8574 29.5557 14.7778 29.5557C18.7026 29.5415 22.4619 27.9722 25.2318 25.1915C28.0018 22.4108 29.5566 18.6455 29.5557 14.7206ZM26.6945 14.7206C26.6797 17.0734 25.9685 19.3691 24.6506 21.3183C23.3327 23.2674 21.4672 24.7826 19.2893 25.6729C17.1114 26.5632 14.7187 26.7886 12.4128 26.3208C10.1069 25.853 7.99124 24.7128 6.33252 23.0441C4.67379 21.3755 3.54633 19.253 3.0923 16.9444C2.63828 14.6358 2.87804 12.2444 3.78134 10.0719C4.68463 7.89935 6.21102 6.04294 8.168 4.73677C10.125 3.4306 12.4249 2.73316 14.7778 2.73241C17.9463 2.74566 20.9801 4.01535 23.2135 6.26287C25.447 8.51038 26.6976 11.5521 26.6909 14.7206H26.6945Z" fill="#DFDFE4"/>
                        <path d="M36.2069 38.0001L22.4846 25.0241L24.2782 23.2224L38.0005 36.1952L36.2069 38.0001Z" fill="#DFDFE4"/>
                        <line x1="15" y1="9" x2="15" y2="21" stroke="#DFDFE4" stroke-width="2"/>
                        <line x1="21" y1="15" x2="9" y2="15" stroke="#DFDFE4" stroke-width="2"/>
                    </svg>
                p.documents-desc Lorem ipsum dolor sit amet.
            .documents-item
                img.documents-serf(src="images/doc/item1.png", alt="")
                a.documents-fancy(href="images/doc/item1.png", data-fancybox="gallery")
                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M29.5557 14.7206C29.5444 11.8003 28.668 8.94882 27.0374 6.52615C25.4067 4.10349 23.0948 2.21828 20.3935 1.10855C17.6922 -0.00118345 14.7227 -0.285682 11.8598 0.29097C8.99696 0.867623 6.36914 2.27957 4.30813 4.34855C2.24712 6.41753 0.845337 9.05078 0.279751 11.9158C-0.285835 14.7809 0.0101376 17.7493 1.1303 20.4462C2.25047 23.1432 4.14461 25.4478 6.57357 27.0691C9.00253 28.6904 11.8574 29.5557 14.7778 29.5557C18.7026 29.5415 22.4619 27.9722 25.2318 25.1915C28.0018 22.4108 29.5566 18.6455 29.5557 14.7206ZM26.6945 14.7206C26.6797 17.0734 25.9685 19.3691 24.6506 21.3183C23.3327 23.2674 21.4672 24.7826 19.2893 25.6729C17.1114 26.5632 14.7187 26.7886 12.4128 26.3208C10.1069 25.853 7.99124 24.7128 6.33252 23.0441C4.67379 21.3755 3.54633 19.253 3.0923 16.9444C2.63828 14.6358 2.87804 12.2444 3.78134 10.0719C4.68463 7.89935 6.21102 6.04294 8.168 4.73677C10.125 3.4306 12.4249 2.73316 14.7778 2.73241C17.9463 2.74566 20.9801 4.01535 23.2135 6.26287C25.447 8.51038 26.6976 11.5521 26.6909 14.7206H26.6945Z" fill="#DFDFE4"/>
                        <path d="M36.2069 38.0001L22.4846 25.0241L24.2782 23.2224L38.0005 36.1952L36.2069 38.0001Z" fill="#DFDFE4"/>
                        <line x1="15" y1="9" x2="15" y2="21" stroke="#DFDFE4" stroke-width="2"/>
                        <line x1="21" y1="15" x2="9" y2="15" stroke="#DFDFE4" stroke-width="2"/>
                    </svg>
                p.documents-desc Lorem ipsum dolor sit amet.
            .documents-item
                img.documents-serf(src="images/doc/item1.png", alt="")
                a.documents-fancy(href="images/doc/item1.png", data-fancybox="gallery")
                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M29.5557 14.7206C29.5444 11.8003 28.668 8.94882 27.0374 6.52615C25.4067 4.10349 23.0948 2.21828 20.3935 1.10855C17.6922 -0.00118345 14.7227 -0.285682 11.8598 0.29097C8.99696 0.867623 6.36914 2.27957 4.30813 4.34855C2.24712 6.41753 0.845337 9.05078 0.279751 11.9158C-0.285835 14.7809 0.0101376 17.7493 1.1303 20.4462C2.25047 23.1432 4.14461 25.4478 6.57357 27.0691C9.00253 28.6904 11.8574 29.5557 14.7778 29.5557C18.7026 29.5415 22.4619 27.9722 25.2318 25.1915C28.0018 22.4108 29.5566 18.6455 29.5557 14.7206ZM26.6945 14.7206C26.6797 17.0734 25.9685 19.3691 24.6506 21.3183C23.3327 23.2674 21.4672 24.7826 19.2893 25.6729C17.1114 26.5632 14.7187 26.7886 12.4128 26.3208C10.1069 25.853 7.99124 24.7128 6.33252 23.0441C4.67379 21.3755 3.54633 19.253 3.0923 16.9444C2.63828 14.6358 2.87804 12.2444 3.78134 10.0719C4.68463 7.89935 6.21102 6.04294 8.168 4.73677C10.125 3.4306 12.4249 2.73316 14.7778 2.73241C17.9463 2.74566 20.9801 4.01535 23.2135 6.26287C25.447 8.51038 26.6976 11.5521 26.6909 14.7206H26.6945Z" fill="#DFDFE4"/>
                        <path d="M36.2069 38.0001L22.4846 25.0241L24.2782 23.2224L38.0005 36.1952L36.2069 38.0001Z" fill="#DFDFE4"/>
                        <line x1="15" y1="9" x2="15" y2="21" stroke="#DFDFE4" stroke-width="2"/>
                        <line x1="21" y1="15" x2="9" y2="15" stroke="#DFDFE4" stroke-width="2"/>
                    </svg>
                p.documents-desc Lorem ipsum dolor sit amet.
            .documents-item
                img.documents-serf(src="images/doc/item1.png", alt="")
                a.documents-fancy(href="images/doc/item1.png", data-fancybox="gallery")
                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M29.5557 14.7206C29.5444 11.8003 28.668 8.94882 27.0374 6.52615C25.4067 4.10349 23.0948 2.21828 20.3935 1.10855C17.6922 -0.00118345 14.7227 -0.285682 11.8598 0.29097C8.99696 0.867623 6.36914 2.27957 4.30813 4.34855C2.24712 6.41753 0.845337 9.05078 0.279751 11.9158C-0.285835 14.7809 0.0101376 17.7493 1.1303 20.4462C2.25047 23.1432 4.14461 25.4478 6.57357 27.0691C9.00253 28.6904 11.8574 29.5557 14.7778 29.5557C18.7026 29.5415 22.4619 27.9722 25.2318 25.1915C28.0018 22.4108 29.5566 18.6455 29.5557 14.7206ZM26.6945 14.7206C26.6797 17.0734 25.9685 19.3691 24.6506 21.3183C23.3327 23.2674 21.4672 24.7826 19.2893 25.6729C17.1114 26.5632 14.7187 26.7886 12.4128 26.3208C10.1069 25.853 7.99124 24.7128 6.33252 23.0441C4.67379 21.3755 3.54633 19.253 3.0923 16.9444C2.63828 14.6358 2.87804 12.2444 3.78134 10.0719C4.68463 7.89935 6.21102 6.04294 8.168 4.73677C10.125 3.4306 12.4249 2.73316 14.7778 2.73241C17.9463 2.74566 20.9801 4.01535 23.2135 6.26287C25.447 8.51038 26.6976 11.5521 26.6909 14.7206H26.6945Z" fill="#DFDFE4"/>
                        <path d="M36.2069 38.0001L22.4846 25.0241L24.2782 23.2224L38.0005 36.1952L36.2069 38.0001Z" fill="#DFDFE4"/>
                        <line x1="15" y1="9" x2="15" y2="21" stroke="#DFDFE4" stroke-width="2"/>
                        <line x1="21" y1="15" x2="9" y2="15" stroke="#DFDFE4" stroke-width="2"/>
                    </svg>
                p.documents-desc Lorem ipsum dolor sit amet.
            .documents-item
                img.documents-serf(src="images/doc/item1.png", alt="")
                a.documents-fancy(href="images/doc/item1.png", data-fancybox="gallery")
                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M29.5557 14.7206C29.5444 11.8003 28.668 8.94882 27.0374 6.52615C25.4067 4.10349 23.0948 2.21828 20.3935 1.10855C17.6922 -0.00118345 14.7227 -0.285682 11.8598 0.29097C8.99696 0.867623 6.36914 2.27957 4.30813 4.34855C2.24712 6.41753 0.845337 9.05078 0.279751 11.9158C-0.285835 14.7809 0.0101376 17.7493 1.1303 20.4462C2.25047 23.1432 4.14461 25.4478 6.57357 27.0691C9.00253 28.6904 11.8574 29.5557 14.7778 29.5557C18.7026 29.5415 22.4619 27.9722 25.2318 25.1915C28.0018 22.4108 29.5566 18.6455 29.5557 14.7206ZM26.6945 14.7206C26.6797 17.0734 25.9685 19.3691 24.6506 21.3183C23.3327 23.2674 21.4672 24.7826 19.2893 25.6729C17.1114 26.5632 14.7187 26.7886 12.4128 26.3208C10.1069 25.853 7.99124 24.7128 6.33252 23.0441C4.67379 21.3755 3.54633 19.253 3.0923 16.9444C2.63828 14.6358 2.87804 12.2444 3.78134 10.0719C4.68463 7.89935 6.21102 6.04294 8.168 4.73677C10.125 3.4306 12.4249 2.73316 14.7778 2.73241C17.9463 2.74566 20.9801 4.01535 23.2135 6.26287C25.447 8.51038 26.6976 11.5521 26.6909 14.7206H26.6945Z" fill="#DFDFE4"/>
                        <path d="M36.2069 38.0001L22.4846 25.0241L24.2782 23.2224L38.0005 36.1952L36.2069 38.0001Z" fill="#DFDFE4"/>
                        <line x1="15" y1="9" x2="15" y2="21" stroke="#DFDFE4" stroke-width="2"/>
                        <line x1="21" y1="15" x2="9" y2="15" stroke="#DFDFE4" stroke-width="2"/>
                    </svg>
                p.documents-desc Lorem ipsum dolor sit amet.
            .documents-item
                img.documents-serf(src="images/doc/item1.png", alt="")
                a.documents-fancy(href="images/doc/item1.png", data-fancybox="gallery")
                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M29.5557 14.7206C29.5444 11.8003 28.668 8.94882 27.0374 6.52615C25.4067 4.10349 23.0948 2.21828 20.3935 1.10855C17.6922 -0.00118345 14.7227 -0.285682 11.8598 0.29097C8.99696 0.867623 6.36914 2.27957 4.30813 4.34855C2.24712 6.41753 0.845337 9.05078 0.279751 11.9158C-0.285835 14.7809 0.0101376 17.7493 1.1303 20.4462C2.25047 23.1432 4.14461 25.4478 6.57357 27.0691C9.00253 28.6904 11.8574 29.5557 14.7778 29.5557C18.7026 29.5415 22.4619 27.9722 25.2318 25.1915C28.0018 22.4108 29.5566 18.6455 29.5557 14.7206ZM26.6945 14.7206C26.6797 17.0734 25.9685 19.3691 24.6506 21.3183C23.3327 23.2674 21.4672 24.7826 19.2893 25.6729C17.1114 26.5632 14.7187 26.7886 12.4128 26.3208C10.1069 25.853 7.99124 24.7128 6.33252 23.0441C4.67379 21.3755 3.54633 19.253 3.0923 16.9444C2.63828 14.6358 2.87804 12.2444 3.78134 10.0719C4.68463 7.89935 6.21102 6.04294 8.168 4.73677C10.125 3.4306 12.4249 2.73316 14.7778 2.73241C17.9463 2.74566 20.9801 4.01535 23.2135 6.26287C25.447 8.51038 26.6976 11.5521 26.6909 14.7206H26.6945Z" fill="#DFDFE4"/>
                        <path d="M36.2069 38.0001L22.4846 25.0241L24.2782 23.2224L38.0005 36.1952L36.2069 38.0001Z" fill="#DFDFE4"/>
                        <line x1="15" y1="9" x2="15" y2="21" stroke="#DFDFE4" stroke-width="2"/>
                        <line x1="21" y1="15" x2="9" y2="15" stroke="#DFDFE4" stroke-width="2"/>
                    </svg>
                p.documents-desc Lorem ipsum dolor sit amet.
            .documents-item
                img.documents-serf(src="images/doc/item1.png", alt="")
                a.documents-fancy(href="images/doc/item1.png", data-fancybox="gallery")
                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M29.5557 14.7206C29.5444 11.8003 28.668 8.94882 27.0374 6.52615C25.4067 4.10349 23.0948 2.21828 20.3935 1.10855C17.6922 -0.00118345 14.7227 -0.285682 11.8598 0.29097C8.99696 0.867623 6.36914 2.27957 4.30813 4.34855C2.24712 6.41753 0.845337 9.05078 0.279751 11.9158C-0.285835 14.7809 0.0101376 17.7493 1.1303 20.4462C2.25047 23.1432 4.14461 25.4478 6.57357 27.0691C9.00253 28.6904 11.8574 29.5557 14.7778 29.5557C18.7026 29.5415 22.4619 27.9722 25.2318 25.1915C28.0018 22.4108 29.5566 18.6455 29.5557 14.7206ZM26.6945 14.7206C26.6797 17.0734 25.9685 19.3691 24.6506 21.3183C23.3327 23.2674 21.4672 24.7826 19.2893 25.6729C17.1114 26.5632 14.7187 26.7886 12.4128 26.3208C10.1069 25.853 7.99124 24.7128 6.33252 23.0441C4.67379 21.3755 3.54633 19.253 3.0923 16.9444C2.63828 14.6358 2.87804 12.2444 3.78134 10.0719C4.68463 7.89935 6.21102 6.04294 8.168 4.73677C10.125 3.4306 12.4249 2.73316 14.7778 2.73241C17.9463 2.74566 20.9801 4.01535 23.2135 6.26287C25.447 8.51038 26.6976 11.5521 26.6909 14.7206H26.6945Z" fill="#DFDFE4"/>
                        <path d="M36.2069 38.0001L22.4846 25.0241L24.2782 23.2224L38.0005 36.1952L36.2069 38.0001Z" fill="#DFDFE4"/>
                        <line x1="15" y1="9" x2="15" y2="21" stroke="#DFDFE4" stroke-width="2"/>
                        <line x1="21" y1="15" x2="9" y2="15" stroke="#DFDFE4" stroke-width="2"/>
                    </svg>
                p.documents-desc Lorem ipsum dolor sit amet.