.facts(style="background-image: url(images/facts/facts.jpg);")
    .container.facts-container
        +s_title('почему', ' нам доверяю')
    
    .container.facts-slider-wrapper
        .facts-slider
            div
                +fact('1', 'Четкие сроки реализации', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt')
            div
                +fact('4', 'Качественные материалы', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt')
            div
                +fact('2', 'Опытная команда проектировщиков', 'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur')
            div
                +fact('5', 'Выполнение работ под ключ', 'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur')
            div
                +fact('3', 'Качественное оборудование', 'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur')
            div
                +fact('6', 'Сервисное и гарантийное обслуживание', 'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur')