.index_banner(style="background-image: url(images/index_banner/index_banner.png);")
    .container
        h2 Проектирование, монтаж и 
            br
            | обслуживание инженерных систем

.index_banner-slider-wrapper
    .container
        .index_banner-slider
            div
                a.index_banner-item.quiz-btn-1(href="#")
                    svg
                        use(xlink:href='images/svg/symbol/sprite.svg#build')
                    span Системы вентиляции
            div
                a.index_banner-item.quiz-btn-2(href="#")
                    svg
                        use(xlink:href='images/svg/symbol/sprite.svg#build')
                    span Отопительные системы
            div
                a.index_banner-item(href="#")
                    svg
                        use(xlink:href='images/svg/symbol/sprite.svg#build')
                    span системы кондиционирования
