.index_banner(style="background-image: url(images/index_banner/index_banner.png);")
    .container
        h2 Проектирование, монтаж и 
            br
            | обслуживание инженерных систем

.index_banner-slider-wrapper
    .container
        .index_banner-slider
            div
                +sl-banner('Системы вентиляции')
            div
                +sl-banner('Отопительные системы')
            div
                +sl-banner('системы кондиционирования')
