.objects
    .container
        +s_title('расчет', ' стоимости')

        .objects-catalog
            +ob-item('item1.jpg', 'Жилые дома и квартиры')
            +ob-item('item2.jpg', 'Офисы и бизнес-центры ')
            +ob-item('item3.jpg', 'Торговые центры и магазины')
            +ob-item('item4.jpg', 'Рестораны, кафе, кальянные')
            +ob-item('item5.jpg', 'Производства и склады')
            +ob-item('item6.jpg', 'Отели, больницы, мед. центры')
            +ob-item('item7.jpg', 'Бассейны, спа, аква-парки')
            +ob-item('item8.jpg', 'Спорткомплексы и фитнес-клубы')