.services-page.project-text
    .container 
        h2 Проект
        img(src="images/objects/item1.jpg", alt="")
        h3 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, corrupti!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quidem, est maiores numquam eum expedita doloremque distinctio quis nulla deleniti harum repudiandae fugiat assumenda sit in veritatis illum laudantium exercitationem pariatur! Illo voluptatibus corporis culpa accusamus nobis cum excepturi aperiam!
        ul
            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, obcaecati?
            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, obcaecati?
            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, obcaecati?
            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, obcaecati?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quidem, est maiores numquam eum expedita doloremque distinctio quis nulla deleniti harum repudiandae fugiat assumenda sit in veritatis illum laudantium exercitationem pariatur! Illo voluptatibus corporis culpa accusamus nobis cum excepturi aperiam!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quidem, est maiores numquam eum expedita doloremque distinctio quis nulla deleniti harum repudiandae fugiat assumenda sit in veritatis illum laudantium exercitationem pariatur! Illo voluptatibus corporis culpa accusamus nobis cum excepturi aperiam!
        
