.project
    .container
        +s_title('Наши', ' проекты')

    .container.project-container
        .project-slider
            div
                .project-slider-item
                    img.project-banner(src="images/project/project_banner.jpg", alt="")
                    .project-content
                        h2 Crossfit club «Banda» #[span(class="nowrap") на ул. Урловская 26]
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                        +m_btn
            
            div
                .project-slider-item
                    img.project-banner(src="images/project/project_banner.jpg", alt="")
                    .project-content
                        h2 Crossfit club «Banda» на ул. Урловская 26
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                        +m_btn
        .project-tools