.services-page.projects-page
    .container 
        h2.engineering__title Проекты
    
    .container.projects-container-wrapper
        .articles-item(style="background-image: url(images/articles/image1.jpg);")
            a.articles-text(href="#")
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, inventore.

        .articles-item(style="background-image: url(images/articles/image2.jpg);")
            a.articles-text(href="#")
                p Lorem ipsum dolor sit amet.

        .articles-item(style="background-image: url(images/articles/image3.jpg);")
            a.articles-text(href="#")
                p Lorem ipsum dolor sit amet consectetur adipisicing.
        .articles-item(style="background-image: url(images/articles/image3.jpg);")
            a.articles-text(href="#")
                p Lorem ipsum dolor sit amet consectetur adipisicing.
        .articles-item(style="background-image: url(images/articles/image3.jpg);")
            a.articles-text(href="#")
                p Lorem ipsum dolor sit amet consectetur adipisicing.
        .articles-item(style="background-image: url(images/articles/image3.jpg);")
            a.articles-text(href="#")
                p Lorem ipsum dolor sit amet consectetur adipisicing.
        .articles-item(style="background-image: url(images/articles/image3.jpg);")
            a.articles-text(href="#")
                p Lorem ipsum dolor sit amet consectetur adipisicing.
        .articles-item(style="background-image: url(images/articles/image3.jpg);")
            a.articles-text(href="#")
                p Lorem ipsum dolor sit amet consectetur adipisicing.
    .container                
        +arrow_btn('все проекты')