div(style="display: none;").quiz.quiz-2
    .quiz-slider-wrapper
        .quiz-slider.quiz-slider-2
            div
                .quiz-item
                    .quiz-heading
                        span Рассчет стоимости
                        a(href="#") 
                            +svg('#close-quiz')
                    .quiz-content
                        span.quiz-content-title Выберите услугу
                        .quiz-c1
                            .quiz-c1-item
                                input(type="radio", name="pays")
                                b.quiz-input
                                +svg('#build')
                                span Вентиляция

                            .quiz-c1-item
                                input(type="radio", name="pays")
                                b.quiz-input
                                +svg('#build')
                                span Кондиционирование

                            .quiz-c1-item
                                input(type="radio", name="pays")
                                b.quiz-input
                                +svg('#build')
                                span Отопление
            div
                .quiz-item
                    .quiz-heading
                        span Рассчет стоимости (шаг 2 из 4)
                        a(href="#") 
                            +svg('#close-quiz')
                    .quiz-content
                        span.quiz-content-title Где необходимо выполнить монтаж?
                        .quiz-c2
                            +radio-input('2', 'Жилой дом / квартира')
                            +radio-input('2', 'Офис / бизнес-центр')
                            +radio-input('2', 'Торговый центр / магазин')
                            +radio-input('2', 'Ресторан / кафе / кальянная')
                            +radio-input('2', 'Производство / склад')
                            +radio-input('2', 'Отель / больница / мед. центр')
                            +radio-input('2', 'Бассейн / спа / аква-парк')
                            +radio-input('2', 'Спорткомплекс / фитнес-клуб')
            
            div
                .quiz-item
                    .quiz-heading
                        span Рассчет стоимости (шаг 3 из 4)
                        a(href="#") 
                            +svg('#close-quiz')
                    .quiz-content
                        span.quiz-content-title Укажите площадь объекта
                        .quiz-c2
                            +radio-input('3', 'до 50 м2')
                            +radio-input('3', 'от 50 до 100 м2')
                            +radio-input('3', 'от 100 до 250 м2')
                            +radio-input('3', 'от 250 до 500 м2')
                            +radio-input('3', 'Свыше 500 м2')
            
            div
                .quiz-item
                    .quiz-heading
                        span Рассчет стоимости (шаг 4 из 4)
                        a(href="#") 
                            +svg('#close-quiz')
                    .quiz-content
                        div.quiz-form-title Получить коммерческое предложение #[span() со скидкой 5%]
                        form.cl_form
                            .quiz-2-wrap
                                label.application-form-label
                                    input(type="text")
                                    span ФИО
                                label.application-form-label
                                        input(type="text")
                                        span номер телефона
                                label.application-form-label.application-form-label-for_file
                                    input(type="file")
                                    span Добавить файл
                                    p.application-form-file-name
                                    p.application-form-file-btn выбрать
                            .quiz-2-wrap
                                label.application-form-label.application-form-label-textarea
                                    textarea
                                    span Сообщение
                            
                            .application-form-submit
                                .application-form-polic
                                    label.application-form-polic-check
                                        input(type="checkbox")
                                        b
                                    p Я принимаю условия #[a(href="#") пользоваського соглашения]
                                button.calc-btn.quiz-1-submit
                                    span отправить
                                    +svg('#calc-arrow')
                    
        
        .quiz-tools.quiz-tools-2