.services-page
    .container 
        h2.engineering__title Услуги
    
    .container.mounting-wrapper
        .mounting-item
            img.mounting-image(src="images/mounting/img1.jpg", alt="")
            .mounting-text
                a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, amet?
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est atque reiciendis accusamus voluptate, minima unde nihil tempora explicabo, impedit a similique distinctio aliquam? Molestias, sint non? Nemo autem id vitae!
        
        .mounting-item
            img.mounting-image(src="images/mounting/img2.jpg", alt="")
            .mounting-text
                a(href="#") Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem, fuga!
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum molestias modi quis voluptas inventore deserunt cumque, non molestiae temporibus veritatis.
        
        .mounting-item
            img.mounting-image(src="images/mounting/img3.jpg", alt="")
            .mounting-text
                a(href="#") Lorem ipsum dolor sit amet.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quibusdam quia optio. Nobis provident repellat consectetur perspiciatis iure aliquam. Blanditiis eligendi eaque, deserunt officia quod modi reprehenderit aliquam perspiciatis, excepturi sunt exercitationem earum similique maiores. Maiores nihil quisquam aliquam doloremque exercitationem, rem non, omnis ad laudantium nulla, voluptatibus ducimus consequatur.
        
        .mounting-item
            img.mounting-image(src="images/mounting/img4.jpg", alt="")
            .mounting-text
                a(href="#") Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae at unde, recusandae ducimus rerum quam temporibus.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae qui facilis facere commodi dicta cupiditate, aliquam consequuntur nemo adipisci voluptate.
        .mounting-item
            img.mounting-image(src="images/mounting/img3.jpg", alt="")
            .mounting-text
                a(href="#") Lorem ipsum dolor sit amet.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quibusdam quia optio. Nobis provident repellat consectetur perspiciatis iure aliquam. Blanditiis eligendi eaque, deserunt officia quod modi reprehenderit aliquam perspiciatis, excepturi sunt exercitationem earum similique maiores. Maiores nihil quisquam aliquam doloremque exercitationem, rem non, omnis ad laudantium nulla, voluptatibus ducimus consequatur.
        
        .mounting-item
            img.mounting-image(src="images/mounting/img4.jpg", alt="")
            .mounting-text
                a(href="#") Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae at unde, recusandae ducimus rerum quam temporibus.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae qui facilis facere commodi dicta cupiditate, aliquam consequuntur nemo adipisci voluptate.