.stages
    .container
        +s_title('этапы', ' работы')
    
    .stages-catalog
        +stages-item('Изучение объекта', 'Наш инженер БЕСПЛАТНО приезжает на объект для подробного его изучения и оценки.', '#stages-icon1')
        +stages-item('Подбор и смета', 'БЕСПЛАТНО подбираем несколько вариантов оборудования и предоставляем понятную развернутую смету.', '#stages-icon2')
        +stages-item('Заключение договора', 'Согласовываем и заключаем договор, прописываем сроки и ответственность.', '#stages-icon3')
        +stages-item('Разработка проекта', 'Наш собственный проектный отдел разрабатывает индивидуальный проект.', '#stages-icon4')
        +stages-item('Доставка материалов', 'Мы доставляем материалы оборудование на объект в самые кратчайшие сроки', '#stages-icon5')
        +stages-item('Монтаж систем', 'Осуществляем монтаж инженерных систем в сроки оговоренные в договоре', '#stages-icon6')
        +stages-item('Пуско-наладочные работы', 'Ввод системы в эксплуатацию. Обучаем Ваш персонал. Выдаем паспорта систем вентиляции.', '#stages-icon7')
        +stages-item('Cервисное обслуживание', 'Наш сервисно-гарантийный отдел поддерживает безотказную работоспособность оборудования.', '#stages-icon8')