div(style="display:none;")#thx
    .thx
        a(href="#") 
            +svg('#close-quiz')
        .thx-title Ваша заявка принята
        .thx-desc Спасибо за обращение. Наш менеджер свяжеться с вами в течение 10 минут